body {
  background: url("images/coffee-maker-background.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;   
  height: 100vh;
}

.slot {
  width: 120px;
  height: 150px;
  border: 1px solid red;
  float: left;
  margin: 200px 10px 0 0;
}

#slot-1 {
  background: url("images/slot-1.jpg");
  margin-left: 900px;
}

#slot-2 {
  background: url("images/slot-2.jpg");
}

#slot-3 {
  background: url("images/slot-3.jpg");
}

.slot-1-running {
  animation-name: firstSlotRotating;
  animation-timing-function: linear;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

.slot-2-running {
  animation-name: secondSlotRotating;
  animation-timing-function: linear;
  animation-duration: 1.2s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}
.slot-3-running {
  animation-name: thirdSlotRotating;
  animation-timing-function: linear;
  animation-duration: .9s;
  animation-iteration-count: infinite;
  animation-play-state: running;
}

@keyframes firstSlotRotating {
  0% { background-position: 0 0; }
  100% { background-position: 0 -1000px; }
}

@keyframes secondSlotRotating {
  0% { background-position: 0 0; }
  100% { background-position: 0 -1000px; }
}

@keyframes thirdSlotRotating {
  0% { background-position: 0 0; }
  100% { background-position: 0 -1000px; }
}
