body {
  background: url("images/coffee-maker-background.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;   
  height: 100vh;
}

.slot {
  width: 120px;
  height: 150px;
  border: 1px solid red;
  float: left;
  margin: 200px 10px 0 0;
}

#slot-1 {
  background: url("images/slot-1.jpg");
  margin-left: 900px;
}

#slot-2 {
  background: url("images/slot-2.jpg");
}

#slot-3 {
  background: url("images/slot-3.jpg");
}

.slot-1-running {
  animation: slotRotating 1s linear infinite running;
}

.slot-1-stopping-1 {
  animation: slotStoppingPositionOne 1s ease-out forwards;
}

.slot-1-stopping-2 {
  animation: slotStoppingPositionTwo 1s ease-out forwards;
}

.slot-1-stopping-3 {
  animation: slotStoppingPositionThree 1s ease-out forwards;
}

.slot-2-running {
  animation: slotRotating 1.2s linear infinite running;
}

.slot-2-stopping-1 {
  animation: slotStoppingPositionOne 1s ease-out forwards;
}

.slot-2-stopping-2 {
  animation: slotStoppingPositionTwo 1s ease-out forwards;
}

.slot-2-stopping-3 {
  animation: slotStoppingPositionThree 1s ease-out forwards;
}

.slot-3-running {
  animation: slotRotating 0.9s linear infinite running;
}

.slot-3-stopping-1 {
  animation: slotStoppingPositionOne 1s ease-out forwards;
}

.slot-3-stopping-2 {
  animation: slotStoppingPositionTwo 1s ease-out forwards;
}

.slot-3-stopping-3 {
  animation: slotStoppingPositionThree 1s ease-out forwards;
}

@keyframes slotRotating {
  100% { background-position: 0 -1000px; }
}

@keyframes slotStoppingPositionOne {
  100% { background-position: 0 -400px; }
}

@keyframes slotStoppingPositionTwo {
  100% { background-position: 0 -120px; }
}

@keyframes slotStoppingPositionThree {
  100% { background-position: 0 -250px; }
}



