body {
  background: url("images/coffee-maker-background.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center center;   
  height: 100vh;
}

@media screen and (min-width: 680px) {
  .slots-container {
    background: white;
    height: 258px;
    width: 480px;
    margin: 200px 100px 0 0;
    float: right;
    border-radius: 10px;
  }

  .slots-wrapper {
  height: 200px;
  }

  .slot {
  width: 120px;
  height: 150px;
  margin: 25px 20px;
  float: left;
  }
}

@media screen and (max-width: 680px) {
  .slots-container {
    background: white;
    height: 590px;
    width: 200px;
    margin: 100px auto 0 auto;
    border-radius: 10px;
  }

  .slots-wrapper {
  height: 530px;
  margin-top: 20px;
  position: relative;
  }

  .slot {
  width: 120px;
  height: 150px;
  margin: 25px auto;
  }
}

#slot-one {
  background: url("images/slot-1.jpg");
}

#slot-two {
  background: url("images/slot-2.jpg");
}

#slot-three {
  background: url("images/slot-3.jpg");
}

.slot-one-running {
  animation: slotRotating 1s linear infinite running;
}

.slot-one-stopping-1 {
  animation: slotStoppingPositionOne 1s ease-out forwards;
}

.slot-one-stopping-2 {
  animation: slotStoppingPositionTwo 1s ease-out forwards;
}

.slot-one-stopping-3 {
  animation: slotStoppingPositionThree 1s ease-out forwards;
}

.slot-two-running {
  animation: slotRotating 1.2s linear infinite running;
}

.slot-two-stopping-1 {
  animation: slotStoppingPositionOne 1s ease-out forwards;
}

.slot-two-stopping-2 {
  animation: slotStoppingPositionTwo 1s ease-out forwards;
}

.slot-two-stopping-3 {
  animation: slotStoppingPositionThree 1s ease-out forwards;
}

.slot-three-running {
  animation: slotRotating 0.9s linear infinite running;
}

.slot-three-stopping-1 {
  animation: slotStoppingPositionOne 1s ease-out forwards;
}

.slot-three-stopping-2 {
  animation: slotStoppingPositionTwo 1s ease-out forwards;
}

.slot-three-stopping-3 {
  animation: slotStoppingPositionThree 1s ease-out forwards;
}

@keyframes slotRotating {
  100% { background-position: 0 -1000px; }
}

@keyframes slotStoppingPositionOne {
  100% { background-position: 0 -400px; }
}

@keyframes slotStoppingPositionTwo {
  100% { background-position: 0 -120px; }
}

@keyframes slotStoppingPositionThree {
  100% { background-position: 0 -250px; }
}


.no-caffeine {
  background: lightcoral;
  color: white;
  text-align: center;
  border-radius: 10px;
}

.caffeine {
  background: lightgreen;
  color: green;
  text-align: center;
  border-radius: 10px;
}

.hidden { 
  display: none; 
}

.button-get-caffeine {
  display: block;
  margin: 0 auto;
  padding: 10px 15px 11px;
  font-size: 18px;
  background-color: #57d6c7;
  font-weight: bold;
  color: #ffffff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #57D6C7;
}
